@import "../_partials/autoload";

header {
    background-color: $primary;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background: none;
            border: none;
            color: $secondary;
            font-size: 1.5rem;
            @include medium {
                display: none;
            }
        }
        ul {
            width: 100%;
            max-width: 100%;
            box-shadow: 0 0 1rem 0 $faint;
            display: none;
            flex-direction: column;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            list-style: none;
            text-align: center;
            top: 75px;
            @include medium {
                position: static;
                box-shadow: none;
                flex-direction: row;
                transform: translateX(0);
                align-items: center;
            } 
            li {
                width: 100%;
                border-bottom: 1px solid $border;
                padding: 10px;
                @include medium {
                    border: none;
                    width: max-content;
                }
                a {
                    font-size: 1.1rem;
                    color: $dark;
                    transition: 1.0s;
                    &:hover {
                        color: $primary;
                    }
                    &:active {
                        color: $primary;
                    }
                    @include medium {
                        color: $secondary;
                        &:hover {
                            color: $hover;
                        }      
                    } 
                }
            }
            }
        }
    }
    // header style ends, banner style begins

    .banner {
        background-image: url(../assets/images/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        color: $secondary;
        position: absolute;
    h3 {
        margin-top: 100px;
        font-weight: 500;
        }
    h1 {
        font-size: 30px;
        }
    .flex-banner {
        display: flex;
        justify-content: space-between;
        margin: auto;
        flex-wrap: wrap;
        background-color: $secondary;
        color: $primary;
        padding: 30px;
        width: 95%;
        border-radius: 23px;
        
.flex {
 // line-height: 3rem;
    .inner-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    span {
        font-size: 18px;
        padding: 5px 10px;
        border: 1px solid $primary;
        border-radius: 50%;
        text-align: center;
        }
        .p-tags {
            color: $p-tags;
        }
        .bolder-text {
            font-weight: 900;
            font-size: larger;
        }
    }    
        }
    
    }
    .numbers {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
            width: 60%;
            align-items: center;
            font-size: 21px;
            p {
                border-top: 2px solid $secondary;
                width: 180px;
                text-align: center;
                padding-top: 10px; 
            }
        }
        // .flex-banner {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        //     flex-wrap: wrap;
        //     width: 95%;
        //     gap: 3rem;
        //     background-color: $secondary;
        //     color: $primary;
        //     padding: 30px 30px;
        //     border-radius: 20px;
        //     margin-top: 10px;
        //     line-height: 3em;
            // .inner-flex {
            //     display: flex;
            //     justify-content: space-between;
            //     align-items: center;
            //     gap: .5rem;
        //         span {
        //             font-size: 18px;
        //             padding: 5px 10px;
        //             border: 1px solid $primary;
        //             border-radius: 50%;
        //             text-align: center;
        //         }
        //         .p-tags {
        //             color: $p-tags;
        //         }
        //         .bolder-text {
        //             font-weight: 900;
        //             font-size: larger;
        //         }
        //     }
        // }
        // .numbers {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     gap: 2rem;
        //     width: 60%;
        //     align-items: center;
        //     font-size: 21px;
        //     p {
        //         border-top: 2px solid $secondary;
        //         width: 180px;
        //         text-align: center;
        //         padding-top: 10px; 
        //     }
        // }
    }
    
