@import "../_partials/autoload";

header {
    background-color: $primary;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
            background: none;
            border: none;
            color: $secondary;
            font-size: 1.5rem;
            @include medium {
                display: none;
            }
        }
        ul {
            width: 100%;
            max-width: 100%;
            box-shadow: 0 0 1rem 0 $faint;
            display: flex;
            flex-direction: column;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            list-style: none;
            text-align: center;
            top: 75px;
            @include medium {
                position: static;
                box-shadow: none;
                flex-direction: row;
                transform: translateX(0);
                align-items: center;
            } 
            li {
                width: 100%;
                border-bottom: 1px solid $border;
                padding: 10px;
                @include medium {
                    border: none;
                    width: max-content;
                }
                a {
                    font-size: 1.1rem;
                    color: $dark;
                    transition: 1.0s;
                    &:hover {
                        color: $primary;
                    }
                    &:active {
                        color: $primary;
                    }
                    @include medium {
                        color: $secondary;
                        &:hover {
                            color: $hover;
                        }      
                    } 
                }
            }
            }
        }
    }
    // header style ends, banner style begins

    .banner {
        background-image: url(../assets/images/banner.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 100vh;
        position: absolute;
        color: $secondary;
        line-height: 2.5em;
        .banner-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            font-size: 15px;
            p {
                font-weight: 500;
                @include medium {
                    font-size: 18px;
                }
            }
            h1 {
                font-size: 35px;
                margin-top: 20px;
                @include medium {
                    font-size: 50px;
                    margin-top: 30px;
                }
            }
            a {
                padding: 5px 30px;
                color: $primary;
                border: 1px solid $primary;
                outline: none;
                border-radius: 20px;
                margin-top: 35px;
                transition: 2s;
                @include medium {
                    margin-top: 45px;
                    &:hover {
                        background-color: $primary;
                        color: $secondary;
                    }
                }
            }

        }
        .banner-icons {
            width: 95%;
            margin: auto;
            padding: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-color: $secondary;
            color: $primary;
            border-radius: 23px;
            margin-top: 20px;
            gap: 1rem;
            @include medium {
                width: 80%;
                border-radius: 70px;
                padding: 30px 60px;
                margin-top: 80px;
            }
            .icon-text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                span {
                  width: 40px;
                  border: 1px solid $primary;
                  text-align: center;
                  border-radius: 50%;
                  font-size: 18px;
                  padding: 4px 2px 4px 2px;
                  @include medium {
                    width: 60px;
                    padding: 15px 2px 15px 2px;
                    font-size: 25px;
                  }
                }
                h3 {
                    font-size: 12px;
                    font-weight: 400;
                    color: $p-tags;
                    @include medium {
                        font-size: 16px;
                    }
                }
                p {
                    font-weight: 800;
                    font-size: 14px;
                    @include medium {
                        font-size: 19px;
                    }
                }
            }
            a {
                padding: 20px 30px;
                transition: 2s;
color: $secondary;
outline: none;
border-radius: 20px;
background-color: $primary;
font-size: 15px;
@include medium {
    padding: 10px 30px;
    &:hover {
        filter: grayscale(0.3);
    }
}
            }
        }
        .numbers {
                display: flex;
                justify-content: center;
                gap: 2rem;
                width: 60%;
                margin: auto;
                align-items: center;
                font-size: 21px;
                margin-top: 20px;
                @include medium {
                    margin-top: 50px;
                }
                p {
                    border-top: 2px solid $secondary;
                    width: 180px;
                    text-align: center;
                    padding-top: 10px; 
                }
            }
    }
    
